body {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    font-size: 80%;
}

header {
    width: 100vw;
    height: 8vh;
    font-size: 2.2em;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #148044;
    color: whitesmoke;
}

main {
    width: 100vw;
    height: 84vh;
    background: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    width: 100vw;
    height: 8vh;
    font-size: 2.2em;

    background: #148044;
    color: whitesmoke;
}

.flex-container-small {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    height: 40vh;
    width: 100vw;
}

.size-large {
    width: 80vw;
    padding: 6px;
    font-size: 1.2em;
}

.score-comp {
    display: flex;
    flex-direction: column;

    width: 90vw;
    margin: 2vh 0;

    border: 1px rgba(128, 128, 128, 0.6) solid;
    background: rgba(128, 128, 128, 0.13);
    padding: 2vh 4vw;
    border-radius: 1vw;

    font-size: larger;
}

.score {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: space-between;
}

.score-info {
    width: 30vw;
}

.runs-info {
    display: flex;
}

.runs {
    display: block;
    font-weight: bolder;
    width: 10vw;
}

.score-stat {
    margin-top: 1vh;
    font-size: smaller;
    color: #4b4b4b;
}

.low-focus {
    color: grey;
    font-size: small;
}

.stat{
    margin-right: 2vw;
}

.scoring-page {
    height: 100%;
}